/* CSS architecture: BEM methodology - Block, Element, Modifier */

html {
	min-height: 100%;/* at least as tall as the viewport */
    position: relative;
	/* background image to cover entire browser window at all times */
	background: url('https://68.media.tumblr.com/d0914fab2603665235669293d3b61c37/tumblr_os8sx9UAHb1slhhf0o1_1280.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100%; /* forces body to match the height of the HTML */
	font-family: 'Encode Sans', sans-serif;
	color: white;
}

.sidebar {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    background-color: rgba(17,65,98,0.6);
	width: 30%;
	padding: 0px 20px;
	text-align: center;
		/* flex container that lays out content vertically */
		display: flex;
	    min-height: 100%;
	    flex-direction: column;
}

.sidebar__top {
	flex: 1 0 auto; /* expands section to take up all the available space in .sidebar container */
}

/* Greet user */
.greet {
	padding-top: 30px;
}

.greet__name {
	font-size: 1.875rem;
}

.greet__input {
	display: block;
	font-size: 1.5rem;
	border: none;
	margin: 10px auto 0 auto;
	border-radius: 5px;
	background-color: #EDF1F3;
	transition: background-color .3s ease-in-out;
}

.greet__input:focus {
	background-color: #EDF1F3;
	border: 2px solid #B62929;
	outline: none;
}

/* Clock styles */
.clock {
	margin-top: 5%;
 	margin-bottom: 0;
 	letter-spacing: 0.1rem;
}

.clock__hour, .clock__minute, .clock__second {
	opacity: 1;
	display: inline;
	background: none;
	margin: 0 auto;
}

.clock__hour, .clock__minute {
	font-size: 4rem;
	font-weight: 700;
}

.clock__second {
	font-size: 2.5rem;
}

/* Date styles */
.date__date {
	margin-top: 0;
	font-size: 1.3rem;
}

/* Weather styles */
.weather {
	margin-top: 5%;
	margin-bottom: 5%;
}

.weather__loc {
	margin-bottom: 10px;
}

#weather-icon {
	vertical-align: middle;
}

.weather__temp {
	font-size: 1.5rem;
	font-weight: 300px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: text-top;
}

.weather__descr {
	font-size: 0.875rem;
	font-weight: 300px;
}

/* Motivation button */
.article {
	margin-top: 8%;
	margin-bottom: 8%;
}

.article__link:link {
	color: #E7ECEF;
	font-style: italic;
	text-decoration: none;
	border-bottom: .08rem solid rgba(231,236,239,.2);
}

.article__link:hover {
    text-decoration: none;
    border-bottom: .08rem solid #BEC2C4;
    text-shadow: 0 0 1px #BEC2C4;
}

.article__link:visited {
	color: #BEC2C4;
	text-decoration: none;
}

.article__display {
	padding: 10px 30px;
}

.article__button {
	width: 80px;
	text-align: center;
	margin: 20px auto;
	font-size: 15px;
	font-weight: 700px;
	list-style-type: none;
	color: white;
	cursor: pointer;
	padding: 8px 10px;
	border-radius: 5px;
	background: #cc0000;
	-webkit-box-shadow: 0px 5px 12px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 12px 8px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.75);
	transition: all 0.3s ease-in-out;
	/* prevent text-selection on button */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

.article__button:hover {
	background: #990000;
	color: #e6e6e6;
	-webkit-box-shadow: inset 0px 1px 3px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 1px 12px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.75);
	border: none;
}

.article__button:focus {
  outline:none;
}

/* Todo styles */
.todos {
	text-align: left;
    padding-bottom: 30px;
	flex: none; /* does not expand section to keep it at the bottom of .sidebar container */
}

.todos__title {
	background-color: #4c0001;
	color: white;
	margin: 0;
	padding: 10px 10px;
	font-size: 0.875rem;
}

.todos__input {
	font-size: 0.75rem;
	background-color: #E7ECEF;
	color: #070000;
	width: 100%; /*100% width includes only the content, not the padding or margin, so we'll use box-sizing below*/
	padding: 5px 5px 5px 16px;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,0);/*an invisile border that will hide a small gap between input and ul that takes up same space as the border when focused*/
}

.todos__input:focus {
	background: #EDF1F3;
	border: 2px solid #B62929;
	outline: none;/*take off default highlight (when focussing on input box)*/
}

.todos__ulist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todos__list-item {
	background-color: #EDF1F3;
	height: 30px;
	line-height: 30px;
	color: #272932;
	font-size: 0.75rem;
}

.todos__list-item:nth-child(2n) {
	background-color: #E7ECEF;
}

.todos__delete {
	background-color: #B62929;
	color: white;
	margin-right: 20px;
	text-align: center;
	width: 0;
	display: inline-block;
	opacity: 0;/*hide trash icon (still slightly visible when we don't hover over li)*/
}

.todos__list-item:hover .todos__delete {/*hover over li (since now span is width: 0px)*/
	width: 30px;
	transition: 0.2s linear;
	opacity: 1.0;/*show icon only when hovering*/
}

.todos__list-item--completed {
	color: gray;
	text-decoration: line-through;
}

/* Quotes */
.quote {
    position: absolute;
    bottom: 5%;
    left: 3%;
    right: 40%
}

.quote__author {
	text-align: right;
}
